*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

:root{
    --main-border-radius: 3em;
}

#nojscript{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #24003C;
}

#nojscript img{
    min-width: 200px;
    min-height: 200px;
    width: 10vw;
    height: 10vw;
}

#nojscript p{
    font-size: 3vh;
    margin-top: 1.5em;
    text-shadow: 10px 2px 10px blueviolet;
}

body{
    background: rgb(30,3,45);
    background: url("../images/commissions/stars.webp"), linear-gradient(0deg, rgba(30,3,45,1) 45%, rgba(1,5,55,1) 100%);
    background-repeat: repeat;
    background-size: 125px;
}
/* Large screens */
@media only screen and (min-width: 1px){
    main{
        width: 1300px;
        background-color: rgba(0, 0, 0, 0.6);
        margin: 3em auto 3em auto;
        box-shadow: 0px 0px 400px black;
        border-radius: var(--main-border-radius);
        padding-bottom: 3em;
    }

    main #banner{
            width: 100%;
            border-top-left-radius: var(--main-border-radius);
            border-top-right-radius: var(--main-border-radius);
    }

    main #commissionsstatus{
        font-size: xxx-large;
        background-color: gray;
        text-align: center;
        margin-top: 1em;
        margin: 1.5em 20% 1.5em 20%;
        border-radius: 1em;
    }

    main #aboutme{
        font-size: x-large;
        background-color: rgba(54, 67, 77, 0.507);
        min-width: 50%;
        padding: 1em;
        border-radius: 50px;
        margin: 0 0 0 2em;
        box-shadow: 0px 0px 10px black;
    }

    main hr{
        font-size: x-large;
        margin: 2em 10% 2em 10%;
        color: #24003C;
    }

    main #wrapper1{
        display: flex;
    }

    main #reftoprice{
        width: 100%;
        align-items: center;
        justify-content: center; 
        display: flex;
        flex-direction: column;
    }

    main #reftoprice img{
        width: 40%;
        height: 40%;
        border-radius: 20px;
    }
}

.hidden{
    display: none !important;
}

.pink{
    color: palevioletred;
}