:root {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --main-background: #2c2f33;
  --transition-speed: 600ms;
}

body {
    background-image: url('../images/bg.jpg');
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
}

footer p{
    position: fixed;
    bottom: 0;
    right: 1rem; 
    background-color: #23232e; 
    padding: 0.5rem;
    border-radius: 7px;
}
            
footer a{
    text-decoration: none;
    color: aqua;
}

@media only screen and (min-width: 800px){
    .wrapper{
        max-width: 700px;
        margin-top: 10vh;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}