:root {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --main-background: #2c2f33;
  --transition-speed: 600ms;
}

body {
    background: rgb(30,3,45);
    background: url("../images/commissions/stars.webp"), linear-gradient(0deg, rgba(30,3,45,1) 45%, rgba(1,5,55,1) 100%);
    background-repeat: repeat;
    background-size: 200px;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 100%;
}

.wrapper img{
    border-radius: 30%;
    height: 8rem;
    width: 8rem;
}

.wrapper p{
    margin: 0;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 3rem;
    font-size: 3.25rem;
}

.wrapper a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: antiquewhite;
    padding-left: 1.5rem; 
    padding-bottom: 1.5rem; 
    padding-top: 1.5rem; 
    padding-right: 1.5rem; 
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 2.5rem;
}

@media only all and (max-width: 999px){
    .grouppic{

        display: none;
    
    }
    
    .headtext{
        margin: 4rem;
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
    }
    
}

@media only all and (min-width: 1000px){
    .wrapper{
        position: absolute;
        left: 15rem;
        top: 15rem;
        max-width: 100%;
    }
    .headtext{
        position: absolute;
        right: 4rem;
        top: 4rem;
        height: 15%;
    }
    .grouppic{
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        max-height: 1000px;
        max-width: 1000px;
    }
    
}