.button {
  background-color: rgba(10,10,10,0.3);
  font-size: 0%;
  cursor: pointer;
  color: purple;
  border-color: purple;
  border-radius: 50px;
 transition: transform 0.3s, font-size 0.4s;

}

.button:hover{
  background-color: purple;
  color: black;
  font-size: 200%;
  transform: scale(1.01);
  transition: transform 0.3s, font-size 0.3s;
  padding-top: 6px;
}
.img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
