*{
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}

#nojscript{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #24003C;
}

#nojscript img{
    min-width: 50px;
    min-height: 50px;
    width: 10vw;
    height: 10vw;
}

#nojscript p{
    font-size: 3vh;
    margin-top: 1.5em;
    text-shadow: 10px 2px 10px blueviolet;
}

body{
    background: rgb(30,3,45);
    background: url("../images/commissions/stars.webp"), linear-gradient(0deg, rgba(30,3,45,1) 45%, rgba(1,5,55,1) 100%);
    background-repeat: repeat;
    background-size: 200px;
}

marquee {
  height: 100vh;
}

#contactbuttons img{
    border-radius: 50%;
}

#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
}

#popup-exit{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* Large screens */
@media only screen and (min-width: 1px){

    :root{
        --main-border-radius: 3em;
        --default-margin: 1.5em;
    }

    #popup-content{
        position: relative;
        width: 700px;
        height: 275px;
        margin: auto 0 auto 0;
        background-color: gray;
        border-radius: 100px;
        box-shadow: 0px 0px 400px black;
    }

    #popup-content img{
        position: relative;
        width: 225px;
        height: 225px;
        margin: 25px 30px 25px 30px;
        border-radius: 50%; 
        border-color: blueviolet;
        border-style: 100px;
    }

    main{
        width: 1400px;
        background-color: rgba(0, 0, 0, 0.6);
        margin: 3em auto 3em auto;
        box-shadow: 0px 0px 400px black;
        border-radius: var(--main-border-radius);
        padding-bottom: 3em;
    }

    main #banner{
        width: 100%;
        border-top-left-radius: var(--main-border-radius);
        border-top-right-radius: var(--main-border-radius);
    }
    main #commissionsstatus{
        font-size: xxx-large;
        background-color: gray;
        text-align: center;
        margin-top: 1em;
        margin: var(--default-margin) 20% var(--default-margin) 20%;
        border-radius: 1em;
    }
    main .wrapper{
        width: 100%;
    }

    main #wrapper1{ 
        display: flex;
        margin-bottom: 3em;
    }
    main #wrapper1 #aboutme{
        font-size: x-large;
        background-color: rgba(54, 67, 77, 0.507);
        min-width: 60%;
        padding: 1em;
        border-radius: 50px;
        margin: 0 0 0 2em;
        box-shadow: 0px 0px 10px black;
    }
    main #wrapper1 #reftoprice{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center; 
        margin: auto;
    }
    main #wrapper1 #reftoprice img{
        width: 83%;
        height: 83%;
        border-radius: 20px;
        margin: 4.5% 9.5% 4.5% 9.5%;
    }

    main #wrapper2 {
       
    }
}

.hidden{
    display: none !important;
}

.text-pink{
    color: palevioletred;
}

.text-white{
    color: white;
}

.text-red{
    color: red;
}

.text-lime{
    color: limegreen;
}
